<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h1>
                                Chào mừng bạn đã đến với Paso.vn
                            </h1>
                            <p>
                                Cơ hội vàng nằm gọn trong tay bạn. Bất cứ khi nào bạn muốn tìm công việc phù hợp với
                                bạn, Hãy đến với chúng tôi.
                            </p>
                            <div class="banner-btn">
                                <form class="newsletter-form" data-toggle="validator" #f="ngForm" (ngSubmit)="ngSubmit(f)" novalidate >
                                    <div style="display: flex">
                                        <input style="width: 300px; margin-right: 10px" name="searchKey" ngModel class="form-control" placeholder="Nhập vào tên công việc, tên công ty..."
                                               required="" autocomplete="off">
                                        <button class="box-btn" type="submit">
                                            Tìm kiếm việc làm
                                        </button>
                                    </div>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-img">
                            <img src="../../../../assets/images/home-bg-1-img.png" alt="banner-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-shape">
        <div class="shape1">
            <img src="../../../../assets/images/shape/1.png" alt="shape">
        </div>
        <div class="shape2">
            <img src="../../../../assets/images/shape/2.png" alt="shape">
        </div>
        <div class="shape3">
            <img src="../../../../assets/images/shape/3.png" alt="shape">
        </div>
        <div class="shape4">
            <img src="../../../../assets/images/shape/4.png" alt="shape">
        </div>
        <div class="shape5">
            <img src="../../../../assets/images/shape/5.png" alt="shape">
        </div>
        <div class="shape6">
            <img src="../../../../assets/images/shape/6.png" alt="shape">
        </div>
    </div>
</section>
<!-- End Banner Area -->


<!-- Info Area -->
<div class="info-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>CÁC CÔNG TY ĐANG HOT</h2>
            <p>Các công ty hiện tai đang được nhiều người đăng ký tuyển dụng</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6" *ngFor="let comhot of companyHot">
                <div class="single-info">
                    <div class="info-img">
                        <img width="400px" src="{{comhot.avatar}}">
                    </div>
                    <div class="content">
                        <h3><i class="flaticon-info"></i> {{comhot.name}}</h3>
                        <div class="arrow">
                            <a [routerLink]="['/web-company/', comhot.id]"><i class="flaticon-next-1"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="info-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>CÁC CÔNG TY CÓ NHU CẦU TUYỂN DỤNG CAO NHẤT</h2>
            <p>Các công ty hiện tai đang cần tuyển dùng cao nhất</p>
        </div>
    </div>
</div>

<div class="testimonials-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>TIN TUYỂN DỤNG, VIỆC LÀM TỐT NHẤT</h2>
                </div>
            </div>
        </div>

    </div>
</div>>

