<!-- Banner Area -->
<section class="banner-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="banner-content">
              <h1>Trusted Effective Service and Solutions</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, et sed do eiusmod tempor incididunt labore
                 dolore magna aliqua. Quis ipsum suspendisse.</p>
              <div class="banner-btn">
                <a class="box-btn" href="">Contact Us</a>
                <a class="box-btn border-btn" href="">Know More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="banner-img">
              <img alt="banner-img" src="assets/images/home-bg-1-img.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-shape">
    <div class="shape1">
      <img alt="shape" src="assets/images/shape/1.png">
    </div>
    <div class="shape2">
      <img alt="shape" src="assets/images/shape/2.png">
    </div>
    <div class="shape3">
      <img alt="shape" src="assets/images/shape/3.png">
    </div>
    <div class="shape4">
      <img alt="shape" src="assets/images/shape/4.png">
    </div>
    <div class="shape5">
      <img alt="shape" src="assets/images/shape/5.png">
    </div>
    <div class="shape6">
      <img alt="shape" src="assets/images/shape/6.png">
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!-- Info Area -->
<div class="info-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="single-info">
          <div class="info-img">
            <img alt="info" src="assets/images/info/i1.jpg">
          </div>
          <div class="content">
            <h3><i class="flaticon-info"></i> About Us</h3>
            <div class="arrow">
              <a href=""><i class="flaticon-next-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single-info">
          <div class="info-img">
            <img alt="info" src="assets/images/info/i2.jpg">
          </div>
          <div class="content">
            <h3><i class="flaticon-support"></i> Our Vision</h3>
            <div class="arrow">
              <a href=""> <i class="flaticon-next-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
        <div class="single-info si-30">
          <div class="info-img">
            <img alt="info" src="assets/images/info/i3.jpg">
          </div>
          <div class="content">
            <h3><i class="flaticon-goal"></i>Our Goal</h3>
            <div class="arrow">
              <a href=""> <i class="flaticon-next-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Info Area -->

<!--Top công ty có nhu cầu tuyền dụng cao nhất-->
<app-top-company></app-top-company>
<!--End công ty có nhu cầu tuyền dụng cao nhất-->

<!--  Case Studies  -->
<section class="home-case ptb-100">
  <div class="container">
    <div class="section-title">
      <span>Case Studies</span>
      <h2>Have a Look Our Work Showcase</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua. Quis ipsum suspendisse.</p>
    </div>
    <div class="case">
      <ul class="all-case">
        <li class="active" data-filter="*"><span>All</span></li>
        <li data-filter=".design"><span>Design</span></li>
        <li data-filter=".dev"><span>Development</span></li>
        <li data-filter=".cyber"><span>Cyber Security</span></li>
      </ul>
    </div>
    <div class="row case-list">
      <div class="col-lg-4 col-sm-6 item cyber">
        <div class="single-case">
          <div class="case-img">
            <a href="case-details.html"><img alt="case" src="assets/images/case/c1.jpg"></a>
          </div>
          <div class="content">
            <a href="case-details.html"><h3>Joe’s Company Software Development Case</h3></a>
            <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt
               ipsum dolor.</p>
            <a class="line-bnt" href="case-details.html">View Project Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 item dev design">
        <div class="single-case">
          <div class="case-img">
            <a href="case-details.html"><img alt="case" src="assets/images/case/c2.jpg"></a>
          </div>
          <div class="content">
            <a href="case-details.html"><h3>Ride Share App UX Studies & Development Case</h3></a>
            <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt
               ipsum dolor.</p>
            <a class="line-bnt" href="case-details.html">View Project Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 item dev">
        <div class="single-case">
          <div class="case-img">
            <a href="case-details.html"><img alt="case" src="assets/images/case/c3.jpg"></a>
          </div>
          <div class="content">
            <a href="case-details.html"><h3>Restaurant Management & Web Developing</h3></a>
            <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt
               ipsum dolor.</p>
            <a class="line-bnt" href="case-details.html">View Project Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 item dev cyber">
        <div class="single-case">
          <div class="case-img">
            <a href="case-details.html"><img alt="case" src="assets/images/case/c4.jpg">
            </a>
          </div>
          <div class="content">
            <a href="case-details.html"><h3>IT Software Company Development Case</h3>
            </a>
            <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt
               ipsum dolor.</p>
            <a class="line-bnt" href="case-details.html">View Project Details</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 item dev design">
        <div class="single-case">
          <div class="case-img">
            <a href="case-details.html"><img alt="case" src="assets/images/case/c5.jpg"></a>
          </div>
          <div class="content">
            <a href="case-details.html"><h3>Parking Management & Web Developing</h3>
            </a>
            <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt
               ipsum dolor.</p>
            <a class="line-bnt" href="case-details.html">View Project Details
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 item dev cyber design">
        <div class="single-case">
          <div class="case-img">
            <a href="case-details.html">
              <img alt="case" src="assets/images/case/c6.jpg">
            </a>
          </div>
          <div class="content">
            <a href="case-details.html"><h3>Temperature App UX Studies & Development Case</h3></a>
            <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt
               ipsum dolor.</p>
            <a class="line-bnt" href="case-details.html">View Project Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="case-btn text-center">
      <p>We Have More Amazing Cases. <a href="#">View More</a></p>
    </div>
  </div>
</section>
<!-- End Case Studies -->

<!-- Team Area -->
<section class="home-team-area pt-100 pb-100">
  <div class="container">
    <div class="section-title">
      <span>Team Members</span>
      <h2>People Who are Behind the Achievements</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
    </div>
    <div class="home-team-slider owl-carousel owl-theme">
      <div class="single-team">
        <div class="team-img">
          <img alt="team" src="assets/images/team/t1.jpg">
          <ul class="social">
            <li>
              <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxs-envelope"></i></a>
            </li>
          </ul>
        </div>
        <div class="content text-center">
          <h3>John Smith</h3>
          <p>Full Stack Developer</p>
        </div>
      </div>
      <div class="single-team">
        <div class="team-img">
          <img alt="team" src="assets/images/team/t2.jpg">
          <ul class="social">
            <li>
              <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxs-envelope"></i></a>
            </li>
          </ul>
        </div>
        <div class="content text-center">
          <h3>Evana Doe</h3>
          <p>Web Developer</p>
        </div>
      </div>
      <div class="single-team">
        <div class="team-img">
          <img alt="team" src="assets/images/team/t3.jpg">
          <ul class="social">
            <li>
              <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxs-envelope"></i></a>
            </li>
          </ul>
        </div>
        <div class="content text-center">
          <h3>Bread Mc</h3>
          <p>IT Consulting</p>
        </div>
      </div>
      <div class="single-team">
        <div class="team-img">
          <img alt="team" src="assets/images/team/t4.jpg">
          <ul class="social">
            <li>
              <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxs-envelope"></i></a>
            </li>
          </ul>
        </div>
        <div class="content text-center">
          <h3>Maria Fread</h3>
          <p>UI/UX Designer</p>
        </div>
      </div>
      <div class="single-team">
        <div class="team-img">
          <img alt="team" src="assets/images/team/t1.jpg">
          <ul class="social">
            <li>
              <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxs-envelope"></i></a>
            </li>
          </ul>
        </div>
        <div class="content text-center">
          <h3>John Smith</h3>
          <p>Full Stack Developer</p>
        </div>
      </div>
      <div class="single-team">
        <div class="team-img">
          <img alt="team" src="assets/images/team/t2.jpg">
          <ul class="social">
            <li>
              <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxs-envelope"></i></a>
            </li>
          </ul>
        </div>
        <div class="content text-center">
          <h3>Evana Doe</h3>
          <p>Web Developer</p>
        </div>
      </div>
      <div class="single-team">
        <div class="team-img">
          <img alt="team" src="assets/images/team/t3.jpg">
          <ul class="social">
            <li>
              <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxs-envelope"></i></a>
            </li>
          </ul>
        </div>
        <div class="content text-center">
          <h3>Bread Mc</h3>
          <p>IT Consulting</p>
        </div>
      </div>
      <div class="single-team">
        <div class="team-img">
          <img alt="team" src="assets/images/team/t4.jpg">
          <ul class="social">
            <li>
              <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxs-envelope"></i></a>
            </li>
          </ul>
        </div>
        <div class="content text-center">
          <h3>Maria Fread</h3>
          <p>UI/UX Designer</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Area -->

<!-- Blog Area -->
<section class="home-blog-area pt-100 pb-100 bg-color">
  <div class="container">
    <div class="section-title">
      <span>Blog Post</span>
      <h2>Our Regular Blogs</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A facilis vel consequatur tempora atque blanditiis
         exercitationem incidunt, alias corporis quam assumenda dicta.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <div class="blog-img">
            <a href="blog-details.html">
              <img alt="blog" src="assets/images/blog/1.jpg">
            </a>
          </div>
          <div class="content">
            <ul>
              <li>
                10 April 2020
              </li>
              <li>
                <a href="#">By Admin</a>
              </li>
            </ul>
            <a href="blog-details.html">
              <h3>Joe’s Company Software Development Case</h3>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas in fugit minima modi perspiciatis nam
               aspernatur porro</p>
            <a class="line-bnt" href="blog-details.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <div class="blog-img">
            <a href="blog-details.html">
              <img alt="blog" src="assets/images/blog/5.jpg">
            </a>
          </div>

          <div class="content">
            <ul>
              <li>
                10 April 2020
              </li>
              <li>
                <a href="#">By Admin</a>
              </li>
            </ul>

            <a href="blog-details.html">
              <h3>Temperature App UX Studies & Development Case</h3>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas in fugit minima modi perspiciatis nam
               aspernatur porro</p>

            <a class="line-bnt" href="blog-details.html">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
        <div class="single-blog">
          <div class="blog-img">
            <a href="blog-details.html">
              <img alt="blog" src="assets/images/blog/3.jpg">
            </a>
          </div>

          <div class="content">
            <ul>
              <li>
                10 April 2020
              </li>
              <li>
                <a href="#">By Admin</a>
              </li>
            </ul>

            <a href="blog-details.html">
              <h3>IT Software Company Development Case</h3>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas in fugit minima modi perspiciatis nam
               aspernatur porro</p>

            <a class="line-bnt" href="blog-details.html">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blog-btn text-center">
      <p>We Have More Usefull Blogs For You. <a href="blog.html">View More</a></p>
    </div>
  </div>
</section>
<!-- End Blog Area -->
