<!-- Service Area -->
<section class="home-service-area pb-70 pt-100">
  <div class="container">
    <div class="section-title">
      <span></span>
      <h2>Các công ty hàng đầu</h2>
      <p>Các công ty hàng đầu có nhu cầu tuyển dụng lớn</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-img">
            <img alt="service" src="assets/images/service/s1.png">
          </div>
          <div class="service-content">
            <h3>Tên công ty 1</h3>
            <p>Lựa chọn thông tin hiển thị ở đây</p>
            <a class="line-bnt" href="">Xem chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-img">
            <img alt="service" src="assets/images/service/s2.png">
          </div>
          <div class="service-content">
            <h3>Tên công ty 2</h3>
            <p>Lựa chọn thông tin hiển thị ở đây</p>
            <a class="line-bnt" href="">Xem chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-img">
            <img alt="service" src="assets/images/service/s3.png">
          </div>
          <div class="service-content">
            <h3>Tên công ty 3</h3>
            <p>Lựa chọn thông tin hiển thị ở đây</p>
            <a class="line-bnt" href="">Xem chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-img">
            <img alt="service" src="assets/images/service/s4.png">
          </div>
          <div class="service-content">
            <h3>Tên công ty 4</h3>
            <p>Lựa chọn thông tin hiển thị ở đây</p>
            <a class="line-bnt" href="">Xem chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-img">
            <img alt="service" src="assets/images/service/s5.png">
          </div>
          <div class="service-content">
            <h3>Tên công ty 5</h3>
            <p>Lựa chọn thông tin hiển thị ở đây</p>
            <a class="line-bnt" href="">Xem chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-img">
            <img alt="service" src="assets/images/service/s6.png">
          </div>
          <div class="service-content">
            <h3>Tên công ty 6</h3>
            <p>Lựa chọn thông tin hiển thị ở đây</p>
            <a class="line-bnt" href="">Xem chi tiết</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Service Area -->
