<!-- Header Area -->
<header class="header-area header-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-7 text-left">
        <div class="header-content-right">
          <ul class="header-contact">
            <li><a href="tel:+1123456789"><i class="bx bxs-phone-call"></i> +1 123 456 789</a></li>
            <li><a href="mailto:hello@paso.com"><i class="bx bxs-envelope"></i> info@codegym.vn</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 text-right">
        <div class="header-content-right">
          <ul class="header-social">
            <li>
              <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"> <i class="bx bxs-envelope"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"> <i class="bx bxl-google-plus"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header Area -->
