<!-- Banner Area -->
<section class="banner-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="banner-content">
              <h1>Trang tin tuyển dụng hàng đầu Việt Nam</h1>
              <p>Hàng ngàn công việc phù hợp đang chờ đón các bạn. Hãy để chúng tôi giúp bạn tìm
                 được công việc mơ ước</p>
              <div class="banner-btn">
                <div class="pt-0">
                  <label><input class="form-control search bg-light" placeholder="Nhập tên công việc, công ty, ..." type="search"></label>
                  &nbsp;
                  <button class="box-btn" type="submit">Tìm kiếm việc làm</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="banner-img">
              <img alt="banner-img" src="assets/images/home-bg-1-img.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-shape">
    <div class="shape1">
      <img alt="shape" src="assets/images/shape/1.png">
    </div>
    <div class="shape2">
      <img alt="shape" src="assets/images/shape/2.png">
    </div>
    <div class="shape3">
      <img alt="shape" src="assets/images/shape/3.png">
    </div>
    <div class="shape4">
      <img alt="shape" src="assets/images/shape/4.png">
    </div>
    <div class="shape5">
      <img alt="shape" src="assets/images/shape/5.png">
    </div>
    <div class="shape6">
      <img alt="shape" src="assets/images/shape/6.png">
    </div>
  </div>
</section>
<!-- End Banner Area -->
