body{margin-top:20px;}

.member-details {
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 100%;
}

@media (min-width:992px) {
  .member-details {
    padding-top: 100px;
    padding-bottom: 100px
  }
}

.member-details .member_designation {
  margin-bottom: 30px
}

.member-details .member_designation h2 {
  margin-bottom: 5px;
  margin-top: 25px
}

@media (min-width:768px) {
  .member-details .member_designation h2 {
    margin-top: 0
  }
}

.member-details .member_designation span {
  font-style: italic
}

.member-details .member_desc li {
  display: block;
  float: unset;
  width: 100%
}

.member-details .member_desc li i {
  color: #0cc652;
  font-size: 14px
}

.member-details .member_desc h4 {
  margin-top: 40px
}

.member-details .member_desc p {
  margin-top: 10px
}

.member-details .member_desc .progress-holder {
  margin-top: 30px
}

.member-details .media-box {
  margin-bottom: 20px
}

@media (min-width:992px) {
  .member-details .media-box {
    margin-bottom: 0
  }
}

.member-details .member_contact {
  padding: 40px;
  position: relative;
  margin-top: 40px
}

.member-details .member_contact .media-icon {
  font-size: 32px;
  color: #dae0e6;
  position: relative;
  width: 30px;
  text-align: center;
  float: left;
  margin-right: 15px
}

.member-details .member_contact .media-content {
  padding-left: 0;
  float: left
}

.member-details .member_contact .media-content h5 {
  font-size: 15px
}

.member-details .member_contact .media-content h5,
.member-details .member_contact .media-content a {
  color: #dae0e6
}

@media (min-width:992px) {
  .member-details .member_contact .social-icons {
    text-align: right
  }
}

.member-details .member_contact .social-icons .btn-social {
  width: 40px;
  height: 40px;
  line-height: 40px
}

.member-details .member_contact .social-icons .btn {
  background-color: transparent;
  border: 1px solid;
  border-color: #999;
  color: #dae0e6
}

.member-details .member_contact .social-icons .btn:hover {
  background-color: rgba(162, 156, 156, 0.2);
  border-color: rgba(162, 156, 156, 0.2);
  opacity: 1
}

.bg-image-holder,
.bg-image {
  background-size: cover!important;
  background-position: 50% 0!important;
  transition: all .3s linear;
  background: #f5f5f6;
  position: relative
}

.bg-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7)
}

.bg-fixed {
  background-attachment: fixed
}

.bg-image .overlay-content {
  position: relative;
  z-index: 5
}


.progress-holder {
  margin-top: 50px
}

.progress-holder .barWrapper .progressText {
  font-size: 15px;
  color: #222
}

.progress-holder .progress {
  margin-bottom: 25px;
  margin-top: 10px;
  overflow: visible;
  background-color: #f5f5f6
}

.progress-holder .progress .progress-bar {
  position: relative
}

.progress-holder .progress .progress-bar:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 33px;
  background-color: rgba(162, 156, 156, 0.2);
  top: -8px;
  right: 0;
  z-index: 55
}

.img-full {
  width: 100%;
}

p {
  color: #8b8e93;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 26px;
}


.styled_list {
  margin-top: 15px;
  position: relative;
  display: inline-block
}

@media (min-width:768px) {
  .styled_list {
    margin-top: 15px
  }
}

.styled_list li {
  font-size: 14px;
  line-height: 30px
}

@media (min-width:768px) {
  .styled_list li {
    font-size: 14px;
    float: left;
    width: 50%
  }
}

.styled_list li i {
  margin-right: 10px;
  font-size: 12px
}

.styled_list li a {
  color: #8b8e93
}

@media (min-width:768px) {
  .styled_list li a {
    font-size: 12px
  }
}

@media (min-width:992px) {
  .styled_list li a {
    font-size: 14px
  }
}

ol.styled_list {
  margin-left: 15px
}

ol.styled_list li {
  padding-left: 10px
}
.icon-box {
  font-size: 30px;
  margin-bottom: 33px;
  display: inline-block;
  color: #ffffff;
  height: 65px;
  width: 65px;
  line-height: 65px;
  background-color: #59b73f;
  text-align: center;
  border-radius: 0.3rem;
}
.social-icon-style2 li a {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background: #051c31;
  height: 41px;
  line-height: 41px;
  width: 41px;
}
.social-icon-style2 {
  margin-bottom: 0;
  display: inline-block;
  padding-left: 10px;
  list-style: none;
}

.social-icon-style2 li {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}
