<!--Navbar Area -->
<div class="navbar-area">
  <div class="mobile-nav">
    <a class="logo" href="index.html">
      <img alt="logo" src="assets/images/logo.png">
    </a>
  </div>

  <div class="main-nav">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
          <ul class="navbar-nav text-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">Về chúng tôi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Công ty</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="solutions.html">Danh sách công ty</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="solutions-details.html">Đánh giá công ty</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
          </ul>
        </div>
        <div class="nav-right">
          <form>
            <div class="input-group">
              <input class="form-control search" placeholder="Tên công việc, vị trí ..." type="text">
            </div>
            <button type="submit"><i class="bx bx-search"></i></button>
          </form>
        </div>
        <div class="nav-btn">
          <a class="box-btn" href="#">Đăng nhập</a>
        </div>
        <div class="nav-btn">
          <a class="box-btn" href="#">Đăng ký</a>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- End Navbar Area -->
