<!--Navbar Area -->
<div class="navbar-area">
  <div class="mobile-nav">
    <a class="logo" href="index.html">
      <img alt="logo" src="assets/images/logo.png">
    </a>
  </div>

  <div class="main-nav">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
          <ul class="navbar-nav text-center">
            <li class="nav-item">
              <a class="nav-link dropdown-toggle active" href="#">Home</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Home One</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="index-2.html">Home Two</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="index-3.html">Home Three</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#">Solutions</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="solutions.html">Solutions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="solutions-details.html">Solutions Details</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#">Case Studies</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="case.html">Case Studies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="case-details.html">Case Studies Details</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#">Blog</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="blog-details.html">Blog Details</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#">Pages</a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="team.html">Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pricing.html">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="gallery.html">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="testimonials.html">Testimonials</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="singnup.html">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="signin.html">Sign In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="404.html">Error 404</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="faq.html">FAQ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="terms-condition.html">Terms & Conditions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="privecy.html">Privacy Policy</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact </a>
            </li>
          </ul>
        </div>
        <div class="nav-right">
          <form>
            <div class="input-group">
              <input class="form-control search" placeholder="Search..." type="text">
            </div>
            <button type="submit"><i class="bx bx-search"></i></button>
          </form>
        </div>
        <div class="nav-btn">
          <a class="box-btn" href="solutions.html">Get Started</a>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- End Navbar Area -->
