<div class="container">
    <div class="row" style="margin-top: 20px">
        <div class="col-12">
            <h2 style="text-align: center; color: royalblue">Chi tiết tin tuyển dụng</h2>
            <div style="width: 700px">
                <p><b>Tên tin tuyển dụng:</b> {{recruitmentNew.title}}</p>
                <p><b>Thời gian làm việc:</b> {{recruitmentNew.workingTime.name}} </p>
                <p><b>Lĩnh Vực:</b> {{recruitmentNew.field.name}} </p>
                <p><b>Công ty đăng tuyển:</b> {{recruitmentNew.company.name}} </p>
                <p><b>Mức độ nổi tiếng của công ty đăng tuyển</b>: {{recruitmentNew.company.statusCompany}} </p>
                <p><b>Vị trí cần tuyển dụng:</b> {{recruitmentNew.vacancies.name}} </p>
                <p><b>Ngày kết thúc:</b> {{recruitmentNew.expDate}} </p>
                <p><b>Mô tả công việc:</b> {{recruitmentNew.description}} </p>
                <p><b>Số lượng cần tuyển:</b> {{recruitmentNew.quantity}} </p>
                <p><b>Lương một tháng:</b> {{recruitmentNew.salary}} </p>
                <p><b>Địa điểm làm việc:</b> {{recruitmentNew.city.name}} </p>
                <p><b>Trạng thái tin tuyển dụng:</b> {{recruitmentNew.status}} </p>
            </div>
        </div>
    </div>
</div>
