<!-- Banner Area -->
<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h1>
                                Chào mừng <span style="font-weight: bold">{{nameCompany}}</span> đến với Paso
                            </h1>
                            <p>
                                {{descriptionCompany}}
                            </p>
                            <div class="banner-btn">
                                <a routerLink="home" class="box-btn">Trang chủ</a>
                                <a routerLink="/list-recruitmentnew-user/xxx" class="box-btn border-btn">Tìm kiếm</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-img">
                            <img src="../../../../assets/images/home-bg-1-img.png" alt="banner-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-shape">
        <div class="shape1">
            <img src="../../../../assets/images/shape/1.png" alt="shape">
        </div>
        <div class="shape2">
            <img src="../../../../assets/images/shape/2.png" alt="shape">
        </div>
        <div class="shape3">
            <img src="../../../../assets/images/shape/3.png" alt="shape">
        </div>
        <div class="shape4">
            <img src="../../../../assets/images/shape/4.png" alt="shape">
        </div>
        <div class="shape5">
            <img src="../../../../assets/images/shape/5.png" alt="shape">
        </div>
        <div class="shape6">
            <img src="../../../../assets/images/shape/6.png" alt="shape">
        </div>
    </div>
</section>
<!-- End Banner Area -->


<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <h2 class="titleStyle" >Danh Sách Bài Đăng Tuyển Dụng</h2>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">

                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> STT.</th>
                            <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="title">
                            <th  mat-header-cell *matHeaderCellDef >Tiêu đề</th>
                            <td class="textStyle" mat-cell *matCellDef="let element">
                              <a (click)="openDialogDetails(element.id)">
                              <span id="styleText"
                                    class="btn btn-link">{{element.title}}
                              </span>
                            </a>
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="expDate">
                            <th mat-header-cell *matHeaderCellDef>Ngày hết hạn</th>
                            <td mat-cell *matCellDef="let element"> {{element.expDate}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
                            <td mat-cell *matCellDef="let element"><span *ngIf="element.status==true">UNLOCK</span></td>
                            <td mat-cell *matCellDef="let element"><span *ngIf="element.status == false">LOCK</span>
                            </td>
                        </ng-container>

                        <!--             Symbol Column -->
                        <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef>Sửa</th>
                            <td mat-cell *matCellDef="let element">
                                <button [routerLink]="['/update-recruitmentnew/',element.id]" mat-icon-button
                                        color="primary"
                                        aria-label="Example icon button with a heart icon" class="btn btn-primary">
                                    <mat-icon color="primary">edit</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef>Xóa</th>
                            <td mat-cell *matCellDef="let element">
                                <button (click)="openDialog(element.id)" mat-icon-button class="btn btn-danger">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="editStatus">
                            <th mat-header-cell *matHeaderCellDef> Mở khóa/Khóa</th>
                            <td mat-cell *matCellDef="let element">
                                <button (click)=changeStatus(element.id) *ngIf="element.status" mat-icon-button
                                        class="btn btn-danger">
                                    <mat-icon>lock_open</mat-icon>
                                </button>
                                <button (click)=changeStatus(element.id) *ngIf="!element.status" mat-icon-button
                                        class="btn btn-success">
                                    <mat-icon>lock</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[3, 10, 20, 30]"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </mat-card>
        </div>
    </div>
</div>

